    <script>
    var sessionVal = '@Session["Color"]';
    if (sessionVal == "Red") {
        document.body.style.backgroundColor = "red";
    }
    if (sessionVal == "Yellow") {
        document.body.style.backgroundColor = "yellow";
    }
    if (sessionVal == "Blue") {
        document.body.style.backgroundColor = "blue";
        }



    var usersession = '@Session["Username"]';
    var colorsession = '@Session["Color"]';
    var listensession = '@Session["Listen"]';
    var fontsession = '@Session["Font"]';

    function populate() {
        document.getElementById('_username').value = usersession;
        document.getElementById('_color').value = colorsession;
        document.getElementById('_listen').value = listensession;
        document.getElementById('_font').value = listensession;
    }
    window.onload = populate;

        var sessionFont = '@Session["Font"]';
    if (sessionFont == "Impact") {
        document.body.style.fontFamily = "Impact,Charcoal,sans-serif";
    }
    if (sessionFont == "Lucida") {
        document.body.style.backgroundColor = "Lucida Sans Unicode"
    }
</script>
    @{
        ViewBag.Title = "Login";
    }
    <h2>Login Confirmation</h2>
    <div class="jumbotron">
        <div class="conftext">
            <p1>
                <b>Username:</b><br /> @ViewBag.Username <br />
                <b>Color Selected:</b><br /> @ViewBag.Color <br />
                <b>What you're listening to:</b><br /> @ViewBag.Listen <br />

            </p1>
        </div>
        <form action="/Home/Welcome">
            <input type="hidden" name="input" value="@ViewBag.Username" />
            <input type="submit" value="Register" />
        </form>
    </div>
